<div class="login-footer text-center position-absolute bottom-0 start-0 w-100 bg-dash-dark-2">
  <p class="text-white">Design by
    <a class="external" href="https://bootstrapious.com/p/admin-template">Bootstrapious</a>
    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
  </p>
</div>