<!-- Logo & Information Panel-->
<div class="col-lg-6">
  <div class="info d-flex justify-content-center flex-column p-4 h-100">
    <div class="py-5">
      <h1 class="display-6 fw-bold">
        <%= link_to root_path, class: 'navbar-brand text-uppercase text-reset' do %>
          <div class="brand-text brand-big">KongCal</div>
        <% end %>
      </h1>
      <p class="fw-light mb-0">A proof of concept to show an <strong>estimated</strong> future
        profits and goal <strong>estimator</strong> based on the
        <a href="https://www.alphakongsclub.com/" class="text-white">Alpha Kongs Club</a>
      </p>
    </div>
  </div>
</div>