<h1>Editing claim</h1>
<%= form_with(model: [@claim]) do |form| %>
  <%= render "form", claim: @claim, form: form %>
<% end %>

<br>

<div>
  <%= link_to "Show this claim", @claim %> |
  <%= link_to "Back to claims", user_claims_path(@user) %>
</div>