<h1>New claim</h1>
<%= form_with(model: [@user, @claim]) do |form| %>
  <%= render "form", claim: @claim, form: form %>
<% end %>
<br>

<div>
  <%= link_to "Back to claims", user_claims_path(@user) %>
</div>