<h1>Editing <%= @tribe_item.item %> item</h1>

<%= render "form", tribe_item: @tribe_item %>

<br>

<div>
  <%= link_to "Show this tribe item", @tribe_item %> |
  <%= link_to "Back to tribe items", tribe_items_path %>
</div>