<h1>Goals</h1>
<% unless @goals.empty? %>
  <div id="goals">
    <table class="table table-striped">
      <thead>
      <tr>
        <td>Unclaimed Coins</td>
        <td>Goal</td>
        <td>Started On</td>
        <td>Num days to collect</td>

      </tr>
      </thead>
      <% @goals.each do |goal| %>
        <%= render goal %>
      <% end %>
    </table>
  </div>
<% end %>
<%= link_to "New goal", new_user_goal_path(@user) %>