<h1>New goal</h1>

<%= form_with(model: [@user, @goal]) do |form| %>
  <%= render "form", goal: @goal, form: form %>
<% end %>

<br>

<div>
  <%= link_to "Back to goals", user_goals_path(@user) %>
</div>