<header class="header">
  <nav class="navbar navbar-expand-lg py-3 bg-dash-dark-2 border-bottom border-dash-dark-1 z-index-10">
    <div class="container-fluid d-flex align-items-center justify-content-between py-1">
      <div class="navbar-header d-flex align-items-center">
        <a class="navbar-brand text-uppercase text-reset" href="index.html">
          <div class="brand-text brand-big"><strong class="text-primary">Kong</strong><strong>Cal</strong></div>
          <div class="brand-text brand-sm"><strong class="text-primary">K</strong><strong>C</strong></div>
        </a>
        <button class="sidebar-toggle">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
      <ul class="list-inline mb-0">
        <li class="list-inline-item logout px-lg-2">
          <a class="nav-link text-sm text-reset px-1 px-lg-0" id="logout" href="login.html">
            <span class="d-none d-sm-inline-block">Logout </span>
            <svg class="svg-icon svg-icon-xs svg-icon-heavy">
              <use xlink:href="#disable-1"></use>
            </svg>
          </a></li>
      </ul>
    </div>
  </nav>
</header>